* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
}
header {
    position: relative;
    width: 100%;
    background: #242526;
    /* min-height: 100px; */
    line-height: 65px;
}
.inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
}
.logo {
    font-size: 32px;
    font-weight: 900;
}
.logo a {
    color: #fff;
    text-decoration: none;
}
.inner ul {
    display: flex;
    
}
.inner ul li {
    list-style: none;
    font-size: 26px;
    font-weight: 600;
    line-height: 65px;
    padding: 0 30px;
}
.inner ul li a {
    color: #fff;
    text-decoration: none;
}
.drop_menu {
    position: absolute; 
    width: 100%;
    top: 100%;
    left: 0; 
    background: #2e2e2e;
    font-weight: 700;
    visibility: hidden;
}
.drop_one:hover .drop_menu {
    visibility: inherit;
}
.drop_menu h4 {
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
}
.drop_menu  ul {
    display: inline-block;
    padding: 0 80px;
}
.drop_menu > ul > li {
    line-height: 70px;
    text-align: center;
}


